#miCanvas{
  width:400px;
  height:380px;
  border:1px solid black;
  float:left;
}

body{
  background:rgb(160, 194, 210);
  font-family: sans-serif;
  color:black;
}

#opciones{
  float:left;
  margin-left:30px;
}
